$color-white: #F0F1F1;
$color-green: #5E5322;
$color-yellow: #FAD648;
$color-grey: #737373;
$color-dark-grey: #3C3C3C;
$color-line: #707070;
$color-black: #000000;
$color-error: #dc3545;
$color-success: #28a745;
$color-placeholder: #3c3c3c26;
$color-banner: #E8E9E4;
