@mixin styled-input {
  margin-top: 12px;
  line-height: 24px;
  outline: 0;
  border-width: 0 0 0.75px;
  border-color: $color-dark-grey;
  background: transparent;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  &::placeholder {
    color: $color-placeholder;
  }

  @content
}
