.help {
  margin: 70px 0 80px;
  padding: 0 278px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-dark-grey;

  &__who {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0 69px;
    font-size: 24px;
  }

  &__description {
    margin-bottom: 32px;

    &-text {
      font-size: 22px;
      line-height: 30px;

    }
  }


}