.home {
  height: 100vh;
  display: flex;
  padding-right: 142px;

  &__backgroundImage {
    background-image: url(../../assets/Home-Hero-Image.jpg);
    height: 100vh;
    width: calc(101% / 2);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__open {
    flex-grow: 1;

    ul {
      margin: 0;
      list-style: none;
    }

    .page-nav-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 37px;
      margin-right: -10px;

      a {
        color: $color-grey;
        font-size: 13px;
        text-decoration: none;
        padding: 9px 10px;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        margin-left: 10px;

        &:hover {
          border: 1px solid $color-yellow;
        }
      }
    }

    .page-nav-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 31px;
      margin-right: -20px;

      a {
        color: $color-dark-grey;
        font-size: 18px;
        text-decoration: none;
        padding: 9px 20px;
        align-items: center;
        border: 1px solid transparent;
        margin-left: 15px;

        &:hover {
          border: 1px solid $color-grey;
        }
      }
    }
  }

  &__text {
    padding-right: 133px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: calc((100vh - 518px) / 2);

    .decoration {
      margin-bottom: 65px;
    }
  }
}

.flex {
  display: flex;
}

.space-around {
     justify-content: space-around;
   }