.home {
  height: 100vh;
  display: flex;
  padding-right: 142px;

  &-donation {
    height: 853px;
  }

  &__backgroundImage {
    background-image: url(../../assets/Home-Hero-Image.jpg);
    height: 100vh;
    width: calc(101% / 2);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    &-formHero {
      background-image: url(../../assets/Form-Hero-Image.jpg);
      height: 853px;
    }
  }

  &__open {
    flex-grow: 1;
  }

  &__text {
    padding-right: 133px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: calc((100vh - 518px) / 2);

    .decoration {
      margin-bottom: 65px;
    }

    &-donation {
      padding-top: 109px;

    }
  }
}

.flex {
  display: flex;
}

.space-around {
     justify-content: space-around;
}

text {
  font-size: 13px;
  align-self: end;
  padding-right: 10px;
}