.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  font-size: 18px;
  height: 30px;

  a {
    text-decoration: none;
    padding: 13px 15px;
    color: $color-dark-grey;
    border: 1px solid transparent;
    margin: 35px 5px 0;
    line-height: 25px;

    &:hover {
      border: 1px solid $color-line;
    }

  }
  .active {
     border: 1px solid $color-line;
   }

}

ul {
  padding: 0;
}