.steps {
  margin: 60px 0;
  padding: 0 414px;
  text-align: center;
  color: $color-dark-grey;

  &--contaniner {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1100px;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
  }

  &--item {

  }
}