.btn {
  width: 310px;
  height: 120px;
  border: 0.75px solid $color-grey;
  background-color: inherit;
  opacity: 1;
  color: $color-dark-grey;

  &__upper {
    text-transform: uppercase;
    color: $color-dark-grey;
    font-size: 36px;
    line-height: 45px;
    font-weight: 300;
    font-family: $font-base;
  }

  &__help {
    width: 208px;
    height: 79px;
    border: 0.75px solid transparent;

    &:nth-child(2) {
      margin: 0 100px;
    }

    &:hover {
      border: 0.75px solid $color-grey;
    }
  }

  &__login {
    width: 117px;
    height: 50px;
    border: 0.75px solid transparent;
    font-size: 18px;

    &:hover {
      border: 0.75px solid $color-grey;
    }
  }

  &__logout {
    width: 150px;
    height: 50px;
    margin-top: 35px;
  }

  &__donation-form {
    width: 180px;
    height: 79px;
    font-size: 24px;
    margin-right: 50px;
  }
}

.btn-donation-steps {
  //position: relative;
  //top: -129px;
  //left: 141px;
  margin-right: 282px;
}